@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
layer(base);
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@plugin "daisyui/theme" {
  name: "sunset";
  default: true;
  --color-primary: "#155e75";
  --color-primary-content: var(--color-base-content);
  --rounded-badge: 1.9rem;
}

@plugin "daisyui/theme" {
  name: "youtube";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #2e2e2e;
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(37% 0.01 67.558);
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: oklch(57% 0.245 27.325);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(25% 0.092 26.042);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "surfshark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(37% 0.044 257.287);
  --color-base-200: #1f2937;
  --color-base-300: oklch(44% 0.043 257.281);
  --color-base-content: oklch(97% 0 0);
  --color-primary: #1ebfbf;
  --color-primary-content: oklch(27% 0.077 45.635);
  --color-secondary: #2dd4bf;
  --color-secondary-content: oklch(27% 0.072 132.109);
  --color-accent: #00ffff;
  --color-accent-content: oklch(28% 0.141 291.089);
  --color-neutral: #6b7280;
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  .logo {
    @apply fill-primary p-0 m-0;
  }
  body {
    font-family: "Poppins", serif;
    /* color: #555555;
     color: #2e2e2e; */
  }
}
